/* Comentario en CSS */

html{
    font-family: 'Nunito', sans-serif;
}
a{
  text-decoration: none;  
  color: #d500f9;
}
a:hover {
opacity: 0.8;
}
.title{
    text-transform: uppercase;
    text-align: center;
}
.container {
    background: #642B73; /* Respaldo */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);
    background: linear-gradient(to right, #C6426E, #642B73);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-star , .fa-star-o{
   color: #ffc400 ; 
}
.content{
    max-width: 960px;
    height: 80vh;
    width: 100%;
    height: 50%;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) , 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    position: relative;
    padding: 1.8em;
    
}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}
.close {
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #642B73;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) , 0 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.paragraph {
    line-height: 1.8em;
    font-weight: 300;
}
.table{
    width: 100%;
    border-spacing: 0;
}
.table td, .table th{
    padding: 1em;
    text-align: left;

}
.table tr:nth-child(even) {background-color: #f3e5f5 ;}
.title-item {
    border-bottom: #C6426E solid 2px;
    padding-bottom: 1em;
    font-size: 2em;
}
.position {
    background-color:#C6426E ;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
}
.address{
    font-weight: bold;
    color: #642B73;
    font-size: 1.2em;
}
.main-image {
    float: left;
    margin-right: 1em;
}


@media (max-width: 1208px) {
    .content {
        height: auto;
        width: 80%;
    }
}
@media (max-width: 758px) {
    .content {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 361px) {
    .content {
        height: 100%;
        width: 100%;

    }
    .paragraph {
        line-height: 1.3em;
        font-weight: 300;
    }
    .title-item {
        border-bottom: #C6426E solid 2px;
        padding-bottom: 1.em;
        font-size: 1.5em;
    }
    .close {
        height: 30px;
        width: 30px;
        color: white;
        border-radius: 50%;
        background-color: #642B73;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) , 0 3px 6px rgba(0, 0, 0, 0.23);
        font-weight: 300;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    
    }
    .main-image{
        width: 50px;
        height: 50px;
    }
}


